.body {
    height: 650px;
    background-color: wheat;
    text-align: center;

}

.skill-style {
    color: orange;
    font-size: 54px;
    font-family: cursive;
    font-weight: 800;
}

.style-skill {
    font-family: cursive;
    font-weight: bold;
    color: rebeccapurple;
}

.mern-developer {
    height: 450px;

}

@media only screen and (max-width:425px) {
    .mern-developer {
        width: 200px;
        height: 200px;
    }
}